


.uo_tag-suggestions {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #666;

    h2 {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .uo_tags {
        display: flex;
        gap: 1em;
    }

}